/* 公用样式 */

.van-grid-item__content{
    padding: 0!important;
}
h3,p{
    padding: 0;
    margin: 0;
}
body{
    background: #fff;
}
.title{
    color:#fff;
}
.shop{
    margin-bottom: 51px;
}

.title{
    color:#fff;
}